@page 
@model IndexModel
@inject groceries_webshop.Data.AccessControl accessControl
@{
	ViewData["Title"] = "Home Page";
}

<h1>Welcome, @accessControl.LoggedInAccountName!</h1>

<nav class="menu">
    <ul>
        <li><a asp-page="/Index">Home</a></li>
        <li><a asp-page="/Search">Sök</a></li>
        <!-- asp-route-id property is used to keep track of the logged in user's id -->
        <li><a asp-page="/ShoppingCart" asp-route-id="@accessControl.LoggedInAccountID">Varukorg</a></li>
    </ul>
</nav>

<form method="post" asp-page-handler="Search">

    <p>Search by</p>

    <label>
        Name
        <input type="text" name="name" />
    </label>

    <p>or</p>

    <label>
        Category
        <select name="category">
            <option selected value="all">All</option>
            <option value="fruits">Fruits</option>
            <option value="vegetables">Vegetables</option>
            <option value="nuts">Nuts</option>
            <option value="legumes">Legumes</option>
            <option value="condiments">Condiments</option>
            <option value="berries">Berries</option>
            <option value="seeds">Seeds</option>
            <option value="other">Other</option>

            <option value="meat">Meat</option>
        </select>
    </label>

    <button type="submit">Sök</button>
</form>

<ul class="list-of-products">
    @for (int i = 0; i < Model.Products.Count; i++)
    {
        <li>
            <img src="/images/products/
				@(Model.Products[i].Name.ToLower().Replace(" ", "")).jpg"
                 alt="Image of @Model.Products[i].Name" />
            <p>@Model.Products[i].Name @Model.Products[i].Price VEF</p>

            <form method="post">
                <input type="hidden" name="accountID" value="@accessControl.LoggedInAccountID" />
                <input type="hidden" name="productID" value="@Model.Products[i].ID" />
                <button type="submit">
                    <img src="/images/add-to-cart-icon.svg" alt="Add to cart icon" /> Add to cart
                </button>
            </form>
        </li>
    }
</ul>

<footer>
    <form method="get" asp-page-handler="PageNr">
        <input type="hidden" name="nextPage" value="false" />
        <input type="hidden" name="pageNr" value="@Model.PageNr" />
        <button type="submit">
            <img src="~/images/previous-arrow-icon.svg" alt="Previous page button" />
        </button>
    </form>

    <form method="get" asp-page-handler="PageNr">
        <input type="hidden" name="nextPage" value="true" />
        <input type="hidden" name="pageNr" value="@Model.PageNr" />
        <button type="submit">
            <img src="~/images/next-arrow-icon.svg" alt="Next page button" />
        </button>
    </form>
</footer>
