@page
@model IndexModel
@inject groceries_webshop.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome, @accessControl.LoggedInAccountName!</h1>

<nav class="menu">
    <ul>
        <li><a asp-page="/Index">Home</a></li>
        <li><a asp-page="/Search">Sök</a></li> 
        <!-- asp-route-id property is used to keep track of the logged in user's id -->
        <li><a asp-page="/ShoppingCart" asp-route-id="@accessControl.LoggedInAccountID">Varukorg</a></li>
    </ul>
</nav>

<ul>
	@for (int i = 0; 
		i < Model.Products.Count && i < 9; 
		i++)
	{
		<li>
			<img src="/images/products/
				@(Model.Products[i].Name.ToLower().Replace(" ", "")).jpg"
				alt="Image of @Model.Products[i].Name" />
			<p>@Model.Products[i].Name</p>
			<p>@Model.Products[i].Price VEF</p>
		</li>
	}
</ul>
