@page
@model groceries_webshop.Pages.ShoppingCartModel
@inject groceries_webshop.Data.AccessControl accessControl
@{
}

<h1>My Shopping Cart</h1>

<table id="shoppingcart-table">

    <thead>
        @{
            if (Model.Products.Count > 0)
            {
                <tr><th>Name</th></tr>
                <tr><th>Unit price</th></tr>
                <tr><th>Total price</th></tr>
                <tr><th>Image</th></tr>

            }
            else
            {
                <tr><th id="empty-message">Your shopping cart is empty.</th></tr>
            }
        }
    </thead>

    <tbody>
        @{
            if (Model.Products.Count > 0)
            {
                foreach (var product in Model.Products)
                {
                    <tr><td>@product.Name</td></tr>
                    <tr><td>@product.Price</td></tr>
                    <tr><td>@product.Image</td></tr>
                }
            }
        }
    </tbody>
</table>

@if (Model.Products.Count > 0)
{
    <h2>Total: @Model.GetTotal() VEF</h2>
}

<section id="shoppingcart-buttons">
    <form method="post" asp-route-id="@accessControl.LoggedInAccountID">
        <button id="empty-cart-button" type="submit">
            <img src="images/empty-shoppingcart-icon.svg" alt="Empty shopping cart icon" />
            Empty cart
        </button>
    </form>

    <a id="checkout-button" asp-page="/OrderConfirmation" asp-route-id="@accessControl.LoggedInAccountID"><img src="images/checkout-icon.svg" alt="Checkout icon" />Checkout</a>
</section>
