@page
@model groceries_webshop.Pages.ShoppingCartModel
@inject groceries_webshop.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>My Shopping Cart</h1>

<nav class="menu">
    <ul>
        <li><a asp-page="/">Home</a></li>
        <!-- asp-route-id property is used to keep track of the logged in user's id -->
        <li><a asp-page="/ShoppingCart" asp-route-id="@accessControl.LoggedInAccountID">Shopping Cart</a></li>
    </ul>
</nav>

<table id="shoppingcart-table">

    <thead>
        @{
            if (Model.Products.Count > 0)
            {
                <tr id="table-headings">
                    <th>Name</th>
                    <th>Unit price</th>
                    <th>Units</th>
                    <th>Total price (units * unit price)</th>
                    <th>Image</th>
                </tr>
            }
            else
            {
                <tr><th id="empty-message">Your shopping cart is empty.</th></tr>
            }
        }
    </thead>

    <tbody>
        @{
            if (Model.Products.Count > 0)
            {
                Dictionary<Models.Product, int> map = new Dictionary<Models.Product, int>();
                foreach (var product in Model.Products)
                {
                    int amount = 1;
                    if (map.TryGetValue(product, out amount))
                    {
                        map[product] = amount + 1;
                    }
                    else
                    {
                        map.Add(product, 1);
                    }
                }
                
                foreach (var product in map)
                {
                    <tr class="table-cells">
                        <td>@product.Key.Name</td>
                        <td>@product.Key.Price</td>
                        <td>@product.Value</td>
                        <td>@(product.Key.Price * product.Value)</td>
                        <td><img src="/images/products/
				@(product.Key.Name.ToLower().Replace(" ", "")).jpg" /></td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@if (Model.Products.Count > 0)
{
    <h2>Total: @Model.GetTotal() VEF</h2>
}

<section id="shoppingcart-buttons">
    <form method="post" asp-route-id="@accessControl.LoggedInAccountID">
        <button id="empty-cart-button" type="submit">
            <img src="images/empty-shoppingcart-icon.svg" alt="Empty shopping cart icon" />
            Empty cart
        </button>
    </form>

    <a id="checkout-button" asp-page="/OrderConfirmation" asp-route-id="@accessControl.LoggedInAccountID">
        <img src="images/checkout-icon.svg" alt="Checkout icon" />Checkout</a>
</section>
