@page
@model groceries_webshop.Pages.ShoppingCartModel
@inject groceries_webshop.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>My Shopping Cart</h1>

<nav class="menu">
    <ul>
        <li><a asp-page="/Index">Home</a></li>
        <!-- asp-route-id property is used to keep track of the logged in user's id -->
        <li><a asp-page="/ShoppingCart" asp-route-id="@accessControl.LoggedInAccountID">Shopping Cart</a></li>
    </ul>
</nav>

<div id="shoppingcart-table">
    @{
        if (Model.Products.Count > 0)
        {
            <ol id="table-headings">
                <li>Name</li>
                <li>Unit price</li>
                <li>Units</li>
                <li>Total price</li>
                <li>Image</li>
            </ol>
        }
        else
        {
            <p id="empty-message">Your shopping cart is empty.</p>
        }

        if (Model.Products.Count > 0)
        {
            Dictionary<Models.Product, int> map = new Dictionary<Models.Product, int>();
            foreach (var product in Model.Products)
            {
                int amount = 1;
                if (map.TryGetValue(product, out amount))
                {
                    map[product] = amount + 1;
                }
                else
                {
                    map.Add(product, 1);
                }
            }

            foreach (var product in map)
            {
                <ol class="table-cells">
                    <li>@product.Key.Name </li>
                    <li>@product.Key.Price VEF</li>
                    <li>@product.Value</li>
                    <li>@(product.Key.Price * product.Value) VEF</li>
                    <li>
                        <img src="/images/products/@(product.Key.Name.ToLower().Replace(" ", "")).jpg" />
                    </li>
                </ol>
            }
        }
    }
</div>

@if (Model.Products.Count > 0)
{
    <h2>Total: @Model.GetTotal() VEF</h2>
}

<section id="shoppingcart-buttons">
    <form method="post" asp-route-id="@accessControl.LoggedInAccountID" asp-page-handler="EmptyCart">
        <button id="empty-cart-button" type="submit">
            <img src="images/empty-shoppingcart-icon.svg" alt="Empty shopping cart icon" />
            Empty cart
        </button>
    </form>

    <form method="post" asp-page-handler="Checkout" asp-route-id="@accessControl.LoggedInAccountID">
        <input type="hidden" name="total" value="@Model.GetTotal()" />
        <button id="checkout-button" type="submit">
            <img src="images/checkout-icon.svg" alt="Checkout icon" />
            Checkout
        </button>
    </form>
</section>
